.education {
    list-style: none;
}
.img{
    max-width: 15rem;
}
.partieGauche {
    background-color: #494e5f;
    color: white;
    padding: 1rem;
}
h1, .partieGauche h2 {
    color: #ffe7d4;

}
a {
    text-decoration: none;
    color: inherit;
}
.partieDroite h2 {
    background-color: #ffe7d4;
    text-transform: uppercase;
    font-size: 150%;
    padding: 0.5rem;
}
.partieGauche h2 {
    text-transform: uppercase;
    font-size: 150%;

}
.langage {
    color: white;
    border-radius: 15px;
    width: 100%;
}
  
.progressbar {
    background-color: #ffe7d4;
    color: #494e5f;
    padding: 0.1rem;
    margin-top:0.3rem;
    text-align: left;
    font-size: 20px;
    border-radius: 15px;
}
h2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .deroule {
    margin-left: auto;
  }
